.App {
  background: linear-gradient(135deg, #f5f7fa, #e8f0fe);
  min-height: 100vh;
  padding-top: 40px;
  box-sizing: border-box;
}

.App .container {
  max-width: 700px;
}

.App footer {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}
